.snap-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.snap-page {
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  cursor: none;
}

.custom-cursor {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  /* border: 2px solid #db2580; */
  background: #db2580;
  mix-blend-mode: difference;
  /* pink */
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease-out;
  z-index: 9999;
}